<br>
<div class="row">
  <div class="col-lg-4">
    <br>
    <button routerLink="add-exp" class="btn btn-info mx-2">Add Expence</button>
  </div>
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <!-- <input type="date" placeholder="Enter start-date" [(ngModel)]="startdate">
    <input type="date" placeholder="Enter end-date" [(ngModel)]="enddate">
    <button (click)="getByDate()" class="btn btn-success my-2 mx-2">Search</button> -->
  </div>
</div>
<br> <br>
<table class="table table-hover text-center" style="margin-top: -2rem;">
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor= "let expence of expences">
      <tr>
        <td>{{expence.category | uppercase}}</td>
        <td>{{expence.amount}}</td>
        <td>{{expence.timestap.toDate() | date }}</td>
        <td>
          <div class="uicomp">
            <i (click)="delete(expence.id)" class="fas fa-trash-alt mx-2"></i>
            <i [routerLink]="['/home/manage-exp/edit-exp',expence.id]" class="fas fa-edit mx-2"></i>
          </div>
        </td>
      </tr>
    </tbody>
</table>