<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3 class="text-center" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Add Expences :</h3>
            <br>
            <input class="form-control" type="number" placeholder="Enter amount" [(ngModel)]="expence.amount">
            <!-- <input class="form-control" type="text" placeholder="Enter category" [(ngModel)]="expence.category"> -->
            <select class="form-control" [(ngModel)]="expence.category">
                <option [ngValue]="undefined" disabled selected hidden>Choose a category</option>
                <option [value]="category.name" *ngFor="let category of categories">{{category.name}}</option>
            </select>
            <br>
            <button (click)="addExpence()" class="btn btn-success">Save</button>

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>