<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 top">
            <br> <br> <br> 
            <h1 class="up" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bolder;font-size:3rem">Welcome to "FINEX!"</h1>
  
            <h4 class="up" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">The smartest finance app</h4>
            <br>
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: 1.1rem;"> <b style="font-size: 1.5rem; color:green;"> This</b> application is a software program that facilitates the management of business processes that deal with money. Types of finance applications include: ... accounts receivable software - allows a business to efficiently manage customer activity and automate invoice processing to ensure timely revenue collection.
                
                All of the financial services apps mentioned above found pathways to deepen app engagement with their customers by better understanding data from within their app. In some cases, apps further developed features to strengthen existing customer habits outside an app.
            </p>
        </div>
        <div class="col-lg-6">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br> <br>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <br>
            <h3 id="features" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold; font-size: 2.5rem;"><i class="fas fa-medal"></i>   Features :</h3>
            <br>
            <div class="content">
                <h4>1. Improved security :</h4>
                <p>More transactions are going digital. Mortgages, savings, retirement, pensions – there are even banks that are completely digital now.

                    This was inconceivable even 10 years ago.
                    
                    The flipside, however, is that security is even more important for the simple reason banks have more to protect.
                    
                    Protecting against both intrusion (SQL injection) and interruption (DDoS attack) requires protection at both the server and application level.
                </p>
                <br>
                <h4>2. Chatbot customer service :</h4>
                <p>Robotics and automation have both come a long way in the last few years, and FIs are not immune. Early adopters have started strategic partnerships with incubators and startups to automate customer service functionality.

                    This makes a lot of sense for banks. While finances are complicated, most customer support is going to be the same questions.
                </p>
                <br>
                <h4>3. Mobile apps :</h4>
                <p>Most major banks now have mobile apps. We can expect to see a continued investment in this web tool for banks in the form of:
                       <li>Expanded in-app functionality</li>
                       <li>Improved app experiences</li>
                       <li>Greater personalization</li>
                   But it’s not just banks. Fintech services now offer financial services like budgeting, investment, stocks, retirement plans, and savings through apps.
                </p>
                <br>
                <h4>4. Digital first Digital only :</h4>
                <p>As we’ve mentioned, digital first has come and gone for banks. And other FIs are soon following.

                    For some perspective on this, the fintech industry was worth a reported $20 billion in 2015, up 66% from the previous year.
                    
                    The message is clear: digital and money go together like bagels and cream cheese.
                    
                    So what’s next? Digital only. Already, products and services are cutting their costs by moving more and more things to the digital side.
                </p>
                <br>
                <h4>5. Consumer tools :</h4>
                <p>The evolution of consumer tools hasn’t happened overnight. It’s been driven for a few years now by two key factors:
                        <li>Consumer desire for self service</li>
                        <li>Consumer impatience with jargon-filled, technical forms.</li>               
                    Combined, these have created dozens of digital tools to help consumers better understand what they’re buying (or borrowing), where their money goes, and when bills are due.
                    
                    Even if it’s just a starting point, they give users a chance to inform themselves before they talk to an expert.
                </p>
                <br>
                <hr>
                <br>
                <h3 id="contact" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold; font-size: 2.5rem;"><i class="fas fa-phone-square-alt"></i>   Contact :</h3>
                                                    
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <br>
                        <span><i style="margin-right: 5px;" class="fas fa-map-marker-alt fa-1x"></i><i style="font-size: 20px;font-weight: 500;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Address:</i></span>
                        <p>Khati Colony, Hospital Road Baran,
                            <br> Rajasthan
                            - 325205
                        </p>
                        
                        <span><i style="margin-right: 5px;" class="fas fa-phone-square fa-1x"></i><i style="font-size: 20px;font-weight: 500;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Mobile Number:</i></span>
                        <p>
                            (+91)-9468824332
                        </p>
                        
                        <span><i style="margin-right: 5px;" class="fas fa-envelope fa-1x"></i><i style="font-size: 20px;font-weight: 500;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Email:</i></span>
                        <p>
                            am05gautam@gmail.com
                        </p>
                    </div>
                </div>
                <br> <br> <br>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
