<app-navbar2></app-navbar2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <br> <br> <br>
            <div class="fig text-center">
                <i style="border: solid;border-radius: 50%; border-color: black;" class="fab fa-phoenix-framework fa-10x"></i>
                <h4>FINEX</h4>
            </div>
        </div>
        <div class="col-lg-6">
            <br> <br> <br> <br>
            <div class="button-animation" >
                <button routerLink="manage-cat" style="width: 100%;" class="btn btn-warning"><i>Manage Category</i></button>
                <br> <br>
                <button routerLink="exp-summary" style="width: 100%;" class="btn btn-info"><i>Summary</i></button>
                <br> <br> 
                <button routerLink="manage-exp" style="width: 100%;" class="btn btn-success"><i>Manage Expences</i></button>
                <br> <br>
                <div></div>
            </div>
        </div>
    </div>
    
</div>



