<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a style="font-family: Arial, Helvetica, sans-serif;"class="navbar-brand" routerLink="/home"><div class="text-center" style="font-size: 1.8rem; font-weight: bolder;">
        <i class="fab fa-phoenix-framework"></i>  
        <span style="color:red">F</span>
        <span style="color:blue">I</span>
        <span style="color: yellowgreen;">N</span>
        <span style="color:green">E</span>
        <span style="color:lightsalmon">X</span>
    </div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" style="font-size: 1.1rem;">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="manage-exp">Manage Expences <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/manage-exp"><i class="fas fa-rupee-sign"></i> Manage Expences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home/manage-cat"><i class="fab fa-font-awesome-alt"></i> Manage Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/exp-summary"><i class="fas fa-file-alt"></i> Summary</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button style="height: 35px;" (click)="auth.logout()" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>   Logout</button>
      </ul>
      

    </div>
</nav>