<br> <br> <br>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="tittle text-center" style="font-size: 1.5rem;">
                    <i class="fab fa-phoenix-framework"></i>
                    <span style="color:red">F</span>
                    <span style="color:blue">I</span>
                    <span style="color: yellowgreen;">N</span>
                    <span style="color:green">E</span>
                    <span style="color:lightsalmon">X</span>
                </div>
                <h3 style="font-family: Arial, Helvetica, sans-serif;color:teal;" class="text-center">Forgot Password</h3>
                <br>
                <input class="form-control" type="email" [(ngModel)]="email" placeholder="Enter recovery email">
                <br>
                <button (click)="reset()" class="btn btn-primary">Reset Password</button>
                <br> <br> <br> <br> <br>
            </div>
        </div>        
    </div>
    <div class="col-lg-2"></div>
</div>
